@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;700;800;900&display=swap');

body {
    overflow: hidden;   
    background-color: #334f75;   
    font-family: 'Raleway', sans-serif !important;
    font-weight: 300;
}

h1 {
    color: white;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
}